#header {
  text-align:center;
  color:#009999;
  margin-bottom:50px;
}

.menu {
  background: #c1d7d7;
  float:left;
}

#Stats {
  width:115px;
}

#About {
  width:115px;
}

#Pictures {
  width:115px;
}

#Clips {
  width:115px;
}

#content {
  margin-top:30px;
}


